pyttsx3==2.90.0
SpeechRecognition==3.10.1
pynput==1.7.6
pyautogui==0.9.53
wikipedia==1.4.0
opencv-python==4.8.0.76
mediapipe==0.8.11.1
comtypes==1.2.1
pycaw==20190715
screen-brightness-control==0.10.2
eel==0.14.0
